@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
	background-color: #cbcbcc;
	text-align: center;
	color: #212121
}

h1 {
	font-family: 'Lobster', cursive;
	color: #246a7f	

}

#slogan { 
	font-style: italic;
	font-family: 'Lobster', cursive;
}

ul {
	
	text-align: center;
	list-style-type: none;
}
