@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
	background-color: #cbcbcc;
	text-align: center;
	color: #212121;
	font-family: 'Oswald', sans-serif;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

.wrapper {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#hero { 
	background-color:#FFE2B8;
	border: 1px black solid;
	padding: 20px ;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
}

.list {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;

}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px ;

}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;

}

h1 {
	color: #246a7f;
	font-family: 'Lobster', sans-serif
}

#slogan {	
	font-size: 18px;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 1px;

}

ul {
	
	text-align: center;
	list-style-type: none;
}
