@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
	background-color: #cbcbcc;
	text-align: center;
	color: #212121
}

h1 {
	color: #246a7f	
	font-family: 'Lobster', cursive;

}

#slogan {	
	font-style: italic;

}
#mission {
	font-family: 'Lobster' , cursive;
}

ul {
	
	text-align: center;
	list-style-type: none;
}
